<tr>
    <td>{{ dataOfPassenger.passengerId }}</td>
    <td>{{ dataOfPassenger.survived }}</td>
    <td>{{ dataOfPassenger.pclass }}</td>
    <td>{{ dataOfPassenger.name }}</td>
    <td>{{ dataOfPassenger.sex }}</td>
    <td>{{ dataOfPassenger.age }}</td>
    <td>{{ dataOfPassenger.sibsp }}</td>
    <td>{{ dataOfPassenger.parch }}</td>
    <td>{{ dataOfPassenger.ticket }}</td>
    <td>{{ dataOfPassenger.fare }}</td>
    <td>{{ dataOfPassenger.cabin }}</td>
    <td>{{ dataOfPassenger.embarked }}</td>
</tr>   